<!--esta pagina se carga siempre primero y luego se cargan las otras pero con prioridad las etiquetas de aca si se repiten-->

<!DOCTYPE html>
<html lang="en">
{{{head}}}          <!--head es lo que cambia , el resto se carga de esta pagina-->
<body>
    {{{body}}}      <!--body es lo que cambia , el resto se carga de esta pagina-->
</body>
</html>