.clase {
    width: 600px; 
    height: 400px;
    margin-right: 2em;
    margin-bottom: 21em;
    /* display: inline-block */
    /* display: none; */
    /* position: absolute; */
  };

.inline {
  display: inline-block !important;
  /* max-width: 500px; */
  width: 30%;
}

.ancho{
  width: 100%;
}


/* #mapa{

  display: none !important;
} */



