<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <!--Modificar con ruta del mapa consultor-->
    <iframe src="http://localhost:3000/consultorevents" style="width: 100vw; height: 700px;border:0"></iframe>
</body>
</html>