body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;

    background: url(img/background.jpg);/*ruta de la foto en este caso como esta en la misma carpeta que este archivo solo se pone el nombre*/

    background-size: cover; /*ajusta automaticamente al tamaño de pantalla completa*/
}

.signIn                                     /*tarjeja sign in*/
{
    background: rgba(44,62,80,0.7);       /*color de fondo de la tarjeta*/
    padding: 40px;                          /*bordes de la tarjeta*/
    width: 300px;                           /*ancho de la tarjeta*/
    height: 450px;                          /*alto de la tarjeta*/
    margin: auto;
    margin-top: 10%;                       /*margen superior*/
}

h2
{
    color: white;
    font-size: 30px;
}

p{
    text-align: center;
}

.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

form
{
    text-align: center;
}

input[type=text]
{
    width: 80%;
    color: white;
    text-align: center;
    background: transparent;                /*fondo tranparente (igual que el fondo de la tarjeta)*/
    border: none;                           /*quita los bordes de la caja de texto*/
    border-bottom: 1px solid white;
    font-family:sans-serif;
    font-size: 16px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;

}

input[type=password]
{
    width: 80%;
    color: white;
    text-align: center;
    background: transparent;                /*fondo tranparente (igual que el fondo de la tarjeta)*/
    border: none;                           /*quita los bordes de la caja de texto*/
    border-bottom: 1px solid white;
    font-family:sans-serif;
    font-size: 16px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;

}

input[type=submit]
{
    border: none;
    width: 180px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;                         /*altura del boton(tamaño)*/
    padding: 10px 0;
    border-radius: 25px;                       /*redondeo de la caja del boton*/
    cursor: pointer;                           /*manito cuando posiciono el puntero arriba del boton*/
}

input[type=submit]:hover                        /*sombreado cuando posiciono puntero sobre el boton log in*/
{
    color: white;
    background-color: black;

}

